@import '../../styles/settings.scss';

.listForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.label {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 10px;
}